<template>
  <div class="date-picker-container" :class="{'hidden-footer': footer }" >
    <div class="date-picker-background" @click.stop.prevent="onClose"></div>

    <div class="calendar-container">
      <div class="calendar">
        <!--
        <div :style="{ 'background-color': color }" class="calendar-header flex-center">
          <div>
            <h3 :class="{ 'calendar-faint': selecting === 'date' }"
                @click="setSelecting('year')">
              {{ selectedYear }}
            </h3>

            <h2 :class="{ 'calendar-faint': selecting === 'year' }"
                @click="setSelecting('date')">
              {{ abbrivatedDay }}, {{ selectedMonthWord }} {{ selectedDay }}
            </h2>
          </div>
        </div>-->

        <!-- Calendar -->
        <div class="calendar-body" v-if="selecting === 'date'">
          <div class="calendar-date">
            <div>
              <!-- The svg's are from the material design chevron arrows -->
              <div
                class="calendar-arrows flex left"
                @click="setByMonth(currentMonth - 1)"
                v-if="showLeftArrow"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="#fff" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                </svg>
              </div>
            </div>

            <div class="fonte-primaria negrito calendar-current-date flex-center"> 
              <h4>{{ currentMonthWord }} {{ currentYear }}</h4>
            </div>

            <div>
              <div
                class="calendar-arrows flex right"
                @click="setByMonth(currentMonth + 1)"
                v-if="showRightArrow"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="#fff" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
              </div>
            </div>
          </div>

          <table style="border-collapse:collapse;">
            <thead class="calendar-week">
              <tr>
                <td>Dom</td>
                <td>Seg</td>
                <td>Ter</td>
                <td>Qua</td>
                <td>Qui</td>
                <td>Sex</td>
                <td >Sáb</td>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(days, index) in calendar" :key="index">
                <td
                  class="calendar-day"
                  :style="{
                      'color': day.currentDay && ! day.selected ? color : '',
                      'background-color': day.selected ? color : ''
                    }"
                  :class="{
                      'current-day': day.currentDay,
                      'disabled': day.disabled,
                      'selected': day.selected,
                      'dayOutCurrentMonth': day.daysOutCurrentMonth
                    }"
                  v-for="(day, index) in days"
                  :key="`day-${index}-${day.day}`"
                  tabindex="0"
                  @keydown.enter="onInput"
                  @keydown.space.stop.prevent="onInput"
                  @keydown.esc="onClose"
                  @click="setByDay(day)"
                >{{ day.day }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Years -->
        <div class="calendar-year-select" v-if="selecting === 'year'">
          <div
            :style="{ 'color': year.selected ? color : '' }"
            :class="{ 'selected': year.selected }"
            :id="`${year.year}-calendar-year`"
            v-for="year in years"
            :key="year.year"
            @click="setByYear(year.year)"
          >{{ year.year }}</div>
        </div>

        <div class="calendar-footer" v-if="footer">
          <button :style="{ 'color': color }" @click.stop.prevent="onClose">Cancel</button>

          <button :style="{ 'color': color }" @click.stop.prevent="onInput">Ok</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Helpers for no dependencies™
 */

const dayMap = {
  0: "Domingo",
  1: "Segunda",
  2: "Terça",
  3: "Quarta",
  4: "Quinta",
  5: "Sexta",
  6: "Sabádo"
};

const monthMap = {
  0: "Janeiro",
  1: "Fevereiro",
  2: "Março",
  3: "Abril",
  4: "Maio",
  5: "Junho",
  6: "Julho",
  7: "Agosto",
  8: "Setembro",
  9: "Outubro",
  10: "Novembro",
  11: "Dezembro"
};

// Thanks, Lodash.

/**
 * https://lodash.com/docs/4.17.4#slice
 */
const slice = (array, start, end) => {
  let length = array == null ? 0 : array.length;

  if (!length) {
    return [];
  }

  start = start == null ? 0 : start;
  end = end === undefined ? length : end;

  if (start < 0) {
    start = -start > length ? 0 : length + start;
  }

  end = end > length ? length : end;

  if (end < 0) {
    end += length;
  }

  length = start > end ? 0 : (end - start) >>> 0;
  start >>>= 0;

  let index = -1;

  const result = new Array(length);

  while (++index < length) {
    result[index] = array[index + start];
  }

  return result;
};

/**
 * https://lodash.com/docs/4.17.4#chunk
 */
const chunk = (array, size) => {
  size = Math.max(size, 0);

  const length = array == null ? 0 : array.length;

  if (!length || size < 1) {
    return [];
  }

  let index = 0;
  let resIndex = 0;

  const result = new Array(Math.ceil(length / size));

  while (index < length) {
    result[resIndex++] = slice(array, index, (index += size));
  }

  return result;
};

/**
 * Actual component stuff
 */

export default {
  props: {
    color: {
      type: String,
      required: false,
      default: "#00995D"
    },

    format: {
      type: Function,
      required: false
    },

    min: {
      type: String,
      required: false
    },

    max: {
      type: String,
      required: false
    },

    value: {
      type: String,
      required: false
    },

    footer: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  computed: {
    /**
     * Returns if there was any initial date settings.
     *
     * @return {Boolean}
     */
    initialDate() {
      return (this.value || this.min);
    },

    /**
     * The date property, converted to a date.
     *
     * @return {Date}
     */
    specifiedDate() {
      return new Date(this.value);
    },

    /**
     * Returns a formatted date e.g. 2016-4-19. This is emiited on the input event.
     *
     * @return {String}
     */
    calculatedDate() {
      const day =
        this.selectedDay >= 10 ? this.selectedDay : `0${this.selectedDay}`;

      const month =
        this.selectedMonth + 1 >= 10
          ? this.selectedMonth + 1
          : `0${this.selectedMonth + 1}`;

      return `${this.selectedYear}-${month}-${day}`;
    },

    /**
     * Returns an abbreviation of a day e.g. Sun, Mon, etc.
     *
     * @return {String}
     */
    abbrivatedDay() {
      return dayMap[this.selectedDayOfWeek];
    },

    /**
     * Returns the currently viewed month as a word.
     *
     * @return {String}
     */
    currentMonthWord() {
      return monthMap[this.currentMonth];
    },

    /**
     * Returns the selected month as a word.
     *
     * @return {String}
     */
    selectedMonthWord() {
      return monthMap[this.selectedMonth];
    },

    /**
     * The minimum date the calendar will allow you to select.
     *
     * @return {Date}
   */
    minDate() {
      if (this.min) {
        const minDateSplit = this.min.split("-");
        return new Date(minDateSplit[0], minDateSplit[1] - 1, minDateSplit[2]);
      }

      return 0;
    }, 

    /**
     * The maximum date the calendar will allow you to select.
     *
     * @return {Date}
     **/
    maxDate() {
      if (this.max) {
        const maxDateSplit = this.max.split("-");
        return new Date(maxDateSplit[0], maxDateSplit[1] - 1, maxDateSplit[2]);
      }

      return  0 ;
    },

    /**
     * Determines if the left arrow for the current date should be shown.
     *
     * @return {Boolean}
     */
    showLeftArrow() {
      // Show the left arrow when there is either no mininum date, or when the
      // minimum year and minimum month are the same as the current year and
      // current month.
      if (!this.min) return true;

      let minDateYear = this.minDate.getFullYear();
      let minDateMonth = this.minDate.getMonth();

      if (
        minDateYear === this.currentYear &&
        minDateMonth === this.currentMonth
      ) {
        return false;
      }

      return true;
    },

    /**
     * Determines if the right arrow for the current date should be shown.
     *
     * @return {Boolean}
     */
    showRightArrow() {
      // Show the right arrow when there is either no maximum date, or when
      // the maximum year and maximum month are the same as the current
      // year and current month.
      if (!this.max) return true;

      let maxDateYear = this.maxDate.getFullYear();
      let maxDateMonth = this.maxDate.getMonth();

      if (
        maxDateYear === this.currentYear &&
        maxDateMonth === this.currentMonth
      ) {
        return false;
      }

      return true;
    },

    /**
     * Computes a formatted array of days for a given month and year.
     *
     * @return {Array}
     */
    calendar() {
      // The calendar's output is a function of all of the days in a given
      // month, chunked into an array of arrays, each containing 5 or 6
      // and 7 elements respectively.
      const days = [];
      let lengthDays = null
      //var daysCalendar = null
      

      // Padding for the first row, e.g. if the month's first day starts on
      // Friday, the first array will be ['', '', '', '', '', '1', '2']
      const startOfMonthDay = new Date(
        this.currentYear,
        this.currentMonth,
        1
      ).getDay();

      const daysLastMonth = 32 - new Date(this.currentYear, this.currentMonth - 1 , 32).getDate() - (startOfMonthDay - 1);

      //Dias do mes passado
      for (let i = 0, len = startOfMonthDay; i < len; i++) {
        days.push(daysLastMonth + i);
      }

      // Create an array containing all days in the current month
      const daysInMonth =
        32 - new Date(this.currentYear, this.currentMonth, 32).getDate();


      // Dias do mes atual
      for (let i = 0; i < daysInMonth; i++) {
        days.push(i + 1);
      }

      lengthDays = days.length
      var dayNextMonth = 1
      const countFor = days.length > 35 ? 42 : 35 // Verifico se quantidade de dias vai passar de 5 semana caso passe ele ira aumentar numero dias do proximo mes para caber no datepicker


      //Dias do proximo mes que irei exibir
      for (let i = lengthDays; i < countFor; i++){
        days.push(dayNextMonth++)
      }
      
      // Map the days from numbers to objects that have current day,
      // selected, and disabled properties for the view.
      const today = new Date();

      var index = 0

      const dayObjects = days.map(day => {
        index+= 1
      
        const currentDay =
          day === today.getDate() &&
          this.currentMonth === today.getMonth() &&
          this.currentYear === today.getFullYear();

          var selected
          var next = false

          if(startOfMonthDay >= index || index > lengthDays){
              if(index > lengthDays){
                next = true
              }else{
                next = false
              }
             selected = false
          }else{
            selected = this.selectedDay === day && this.currentMonth === this.selectedMonth && this.currentYear === this.selectedYear;
          }

        const disabled = startOfMonthDay > index || index > lengthDays ? false : this.dayDisabled(day);

        const daysOutCurrentMonth = startOfMonthDay >= index ? true : index > lengthDays ? true : this.dayDisabled(day);

        return { day, currentDay, selected, disabled, daysOutCurrentMonth, next };
      });

      // Chunk all of the days into an array of arrays, by seven.
      return chunk(dayObjects, 7);
    },

    /**
     * Computes a list of years.
     *
     * @return {Array}
     */
    years() {
      // Set the first year of the array.
      let firstYear;

      if (this.min) {
        firstYear = this.minDate.getFullYear();
      } else if (this.value) {
        firstYear = this.specifiedDate.getFullYear();
      } else {
        firstYear = new Date().getFullYear();
      }

      // Create a range of years to loop through which is either the maximum
      // date minus the first year, or simply 100.
      let through = this.max ? this.maxDate.getFullYear() + 1 - firstYear : 101;
      let years = [];

      for (let i = firstYear, len = firstYear + through; i < len; i++) {
        years.push(i);
      }

      return years.map(year => {
        return { year, selected: year === this.selectedYear };
      });
    }
  },

  created() {
    this.hideBodyOverflow(true);
    this.setDate();
    this.setEscapeEvent();
  },

  data: () => ({
    selecting: "date",
    currentMonth: "",
    currentYear: "",
    selectedDayOfWeek: "",
    selectedDay: "",
    selectedMonth: "",
    selectedYear: ""
  }),

  methods: {
    /**
     * Changes the display to the calendar or years depending on the value.
     */
    setSelecting(value) {
      this.selecting = value;
      // If the user is selecting a year, we want to go to the selected year
      // minus two (as does the material design date picker).
      if (value === "year") {
        this.$nextTick(() => {
          const container = document.querySelector(".calendar-year-select");
          
          const el = document.getElementById(
            `${this.selectedYear}-calendar-year`
          );

          container.scrollTop = el.offsetTop - 100 - 76;
        });
      }
    },

    /**
     * Set the date by the given day.
     *
     * @param {Object}
     */
    setByDay(day) {
      if (day.disabled) return;
      if(day.daysOutCurrentMonth) { 
        if(day.next){
         this.currentMonth++
        }else{
          this.currentMonth--
        }
      }
      
      this.selectedYear = this.currentMonth === -1 ? this.currentYear - 1 :  this.currentMonth === 12 ? this.currentYear + 1  : this.currentYear
      this.currentYear = this.currentMonth === -1 ? this.currentYear - 1 : this.currentMonth === 12 ? this.currentYear + 1  : this.currentYear
      this.selectedDay = day.day;
      this.selectedMonth = this.currentMonth === -1 ? 11 : this.currentMonth === 12 ? 0 : this.currentMonth
      this.currentMonth = this.currentMonth === -1 ? 11 : this.currentMonth === 12 ? 0 : this.currentMonth
      this.selectedDayOfWeek = new Date(
        this.selectedYear,
        this.selectedMonth,
        day.day
      ).getDay()

      this.onInput();
      
    },

    /**
     * Set the date by the given month.
     *
     * @param {[String, Number]}
     */
    setByMonth(month) {
      if (month === 12) {
        this.currentYear = this.currentYear + 1;
        this.currentMonth = 0;

        return;
      }

      if (month === -1) {
        this.currentYear = this.currentYear - 1;
        this.currentMonth = 11;

        return;
      }
      this.currentMonth = month;
    },

    /**
     * Set the date by the given year.
     *
     * @param {[String, Number]}
     */
    setByYear(year) {
      this.selectedYear = year;
      this.currentYear = year;
      this.selecting = "date";

      // Make sure date is not before minimum date or after maximum date
      let selectedDate =
        year.toString() +
        (this.currentMonth + 1).toString().padStart(2, 0) +
        this.selectedDay.toString().padStart(2, 0);

      if (this.min) {
        let minDateMonth = this.minDate.getMonth();
        let minDateDay = this.minDate.getDate();
        let minDateYear = this.minDate.getFullYear();
        let minDate =
          minDateYear.toString() +
          (minDateMonth + 1).toString().padStart(2, 0) +
          minDateDay.toString().padStart(2, 0);

        if (selectedDate < minDate) {
          this.selectedMonth = minDateMonth;
          this.currentMonth = minDateMonth;
          this.selectedDay = minDateDay;
          this.selectedYear = minDateYear;
          this.currentYear = minDateYear;
        }
      }

      if (this.max) {
        let maxDateMonth = this.maxDate.getMonth();
        let maxDateDay = this.maxDate.getDate();
        let maxDateYear = this.maxDate.getFullYear();
        let maxDate =
          maxDateYear.toString() +
          (maxDateMonth + 1).toString().padStart(2, 0) +
          maxDateDay.toString().padStart(2, 0);

        if (selectedDate > maxDate) {
          this.selectedMonth = maxDateMonth;
          this.currentMonth = maxDateMonth;
          this.selectedDay = maxDateDay;
          this.selectedYear = maxDateYear;
          this.currentYear = maxDateYear;
        }
      }

      // Make sure to adjust the day of the month, if needed (29, 30, 30, 31)
      const daysInMonth =
        32 - new Date(this.selectedYear, this.currentMonth, 32).getDate();

      if (this.selectedDay > daysInMonth) {
        this.selectedDay = daysInMonth;
      }

      // Make sure to adjust the day of the week
      this.selectedDayOfWeek = new Date(
        this.selectedYear,
        this.selectedMonth,
        this.selectedDay
      ).getDay();
    },

    /**
     * Set the initial date for the calendar.
     */
    setDate() {
      // If a date property has been passed to the component, that will be
      // used instead of the current day.
      let date;

      if (this.min && this.min && !this.value) {
        date = new Date(this.min);
      } else if (this.value && this.value) {
        date = new Date(this.value);
      } else {
        date = new Date();
      }

      if (this.initialDate) {
        this.selectedDay = date.getDate() + 1;
      } else {
        this.selectedDay = date.getDate();
      }

      this.selectedDayOfWeek = date.getDay();
      this.selectedMonth = date.getMonth();
      this.currentMonth = date.getMonth();
      this.selectedYear = date.getFullYear();
      this.currentYear = date.getFullYear();
    },

    dayDisabled(day) {
      // A day is disabled when the minimum month and minimum year are equal
      // to the current month and year and the day is less than the min date's day
      if (this.min) {
        let minDateMonth = this.minDate.getMonth();
        let minDateDay = this.minDate.getDate();
        let minDateYear = this.minDate.getFullYear();

        if (
          minDateMonth === this.currentMonth &&
          minDateYear === this.currentYear &&
          day < minDateDay
        ) {
          return true;
        }
      }

      //  Or when the maximum month and maximum year are equal to the current
      //  month and year and the day is greater than the max date's day
      if (this.max) {
        let maxDateMonth = this.maxDate.getMonth();
        let maxDateDay = this.maxDate.getDate();
        let maxDateYear = this.maxDate.getFullYear();

        if (
          maxDateMonth === this.currentMonth &&
          maxDateYear === this.currentYear &&
          day > maxDateDay
        ) {
          return true;
        }
      }
      return false;
    },

    // Misc methods that have nothing to do with calendar stuff.

    /**
     * Hides the overflow of the body when the date picker is active.
     *
     * @param  {Boolean}
     */
    hideBodyOverflow(show) {
      const bodyEl = document.querySelector("body");

      if (show === true) {
        bodyEl.style.overflow = "hidden";

        return;
      }

      bodyEl.style.overflow = "";
    },

    /**
     * Close the date picker if the escape key is pressed.
     */
    setEscapeEvent() {
      document.addEventListener("keydown", event => {
        if (event.keyCode == 27 || event.key == "Escape") {
          this.onClose();
        }
      });
    },

    /**
     * When the "Ok" button is pressed, or enter is pressed, emit the input
     * event and close the date picker.
     */
    onInput() {
      const date = this.format
        ? this.format(this.calculatedDate)
        : this.calculatedDate;

      this.$emit("input", date);
      //this.onClose();
    },

    /**
     * Emit a close event so the developer can close the date picker as they
     * see fit.
     */
    onClose() {
      this.hideBodyOverflow(false);
      this.$emit("close");
    }
  },
};
</script>

<style scoped lang="scss">
@import './Calendario.scss';
</style>
