*,
*::before,
*::after {
  box-sizing: inherit;
}

div,
h2,
h3,
h4,
table,
tbody,
thead,
tr,
td,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

button {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 0 16px;
  outline: none;
  user-select: none;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-picker-container,
.date-picker-background {
  overflow-y: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.date-picker-container {
  line-height: 1.5;
  z-index: 9998;
}


.date-picker-background {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.calendar-faint {
  opacity: 0.75;
  margin-left: 50px;
}

.calendar-container {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 12px 52px rgba(0, 0, 0, 0.25);
  cursor: initial;
  position: relative;
  user-select: text;
  z-index: 10001;
  user-select: none;
}

.calendar {
  min-height: 300px;
  position: relative;
}

.hidden-footer .calendar {
  height: 470px;
}

.calendar-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 28px;
}

.calendar-header h2,
.calendar-header h3 {
  cursor: default;
}

.calendar-header h2.calendar-faint,
.calendar-header h3.calendar-faint {
  cursor: pointer;
}

.calendar-header h2 {
  font-size: 28px;
  line-height: 30px;
}

.calendar-header h3 {
  font-size: 1.125rem;
  font-weight: 300;
}

.calendar-date {
  border-radius: 20px 20px 0px 0px;
  display: flex;
  width: 100%;
  height: 50px;
  background: #00995D 0% 0% no-repeat padding-box;
}

.calendar-date .calendar-arrows.left {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.calendar-current-date{
  width: 72%;
  cursor: default;
  text-align: center;
  color: white;
}

.calendar-week {
  font-family: Trebuchet MS;
  background: #B1D34B 0% 0% no-repeat padding-box;
}

.calendar-day {
  width: 42px;
  font-size: 14px;
  font-family: Trebuchet MS;
  color: black;
  border-radius: 50%;
}

.calendar-week td {
  color: white;
}

.calendar-dayWeek{
  border-right: 1px solid #00000000;
}

.calendar-date .calendar-arrows.right {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*
.calendar-date > div {
  width: 33.333%;
}*/

.calendar-date h4 {
  font-size: 16px;
  font-weight: 600;
}

.calendar-arrows {
  cursor: pointer;
  padding: 0 8px;
}

.calendar-body table {
  border-spacing: 2px;
  border-collapse: separate;
  cursor: default;
  font-size: 12px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.calendar-body table thead {
  color: #757575;
}

.calendar-body table thead td,
.calendar-body table thead td {
  cursor: default !important;
}

.calendar-body tr {
  height: 40px;
  vertical-align: middle;
}

.calendar-body td {
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 0.15s;
  width: 39px;
}

.calendar-body td:focus {
  outline: none;
}

.calendar-body tbody td:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.calendar-body td:empty {
  background-color: transparent !important;
  cursor: default;
}

.calendar-body td.current-day {
  font-weight: bold;
}

.calendar-body td.disabled {
  border-radius: 50%;
  color: #c5c5c5;
  cursor: default;
  pointer-events: none;
}

.calendar-body td.dayOutCurrentMonth {
  border-radius: 50%;
  color: #c5c5c5;
  cursor: default;
  
}

.calendar-body td.selected {
  width: 43px;
  height: 40px;
  border-radius: 50%;
  background-color: #00995d;
  color: #fff;
  cursor: pointer;
}

.calendar-year-select {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.075);
  height: 353px;
  overflow-y: scroll;
  text-align: center;
}

.hidden-footer .calendar-year-select {
  height: 378px;
}

.calendar-year-select div {
  cursor: pointer;
  padding: 8px 0;
  transition: background-color 0.15s;
}

.calendar-year-select div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.calendar-year-select .selected {
  font-size: 24px;
}

.calendar-footer {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.calendar-footer button {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

.calendar-fade-enter-active,
.calendar-fade-leave-active {
  transition: opacity 0.15s;
}

.calendar-fade-enter,
.calendar-fade-leave-to {
  opacity: 0;
}