<template>
  <div>
    <CampoCalendario tituloCampo="Datepicker" placeHolder="Inserir dados" @input="value => valorDatepicker = value"/>
    <unicom-campo-calendario tituloCampo="Datepicker" placeHolder="Inserir dados" @input="value => valorDatepicker = value"/>
    {{valorDatepicker}}
    <tooltip placement="top-center" v-model="visible">
      <div slot="outlet">top left</div>
      <div slot="tooltip">this is top left tip</div>
    </tooltip>
    <TooltipUnimed texto="TEXTOOOO do que ira ser apresentado" textoTooltip="TEXTO DO TOOLTIP AAAAAAAA"/>
    <unicom-tooltip texto="TEXTOOOO do que ira ser apresentado" textoTooltip="TEXTO DO TOOLTIP AAAAAAAA"/>




  </div>
</template>

<script>
import CampoCalendario from './CampoCalendario/CampoCalendario'
import tooltip from './Tooltip/TooltipBase'
import TooltipUnimed from './Tooltip/TooltipUnimed'

export default {
  components: {
    CampoCalendario,tooltip,TooltipUnimed
  },
  name: "HelloWorld",
  props: {
    msg: String
  },

  created() {
    var today = new Date();

    this.minDateLimit =
      "" +
      today.getFullYear() +
      "-" +
      (today.getMonth() + 1) +
      "-" +
      today.getDate();

    this.maxDateLimit =
      "" +
      today.getFullYear() +
      "-" +
      (today.getMonth() + 1) +
      "-" +
      (today.getDate() + 7);
  },

  data() {
    return {
      valorDatepicker:'',
      regularDate: "",
      showRegularDate: false
    };
  },

};
</script>


  <style>
body {
  font-family: "Roboto", sans-serif;
}
</style>
