.dropdown {
    position: relative;
}

.dropdown-content {
    display: block;
    position: absolute;
    min-width: 160px;
    max-width: 298px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.show {
    display: block;
}