<template >
  <div class="dropdown" v-unicom-click-outside="fecharCalendario">
    <div @click="abrirCalendario">
      <unicom-campo-texto
        class="dropDownCalendar"
        v-model="valorDatepicker"
        :titulo="tituloCampo"
        :placeholder="placeHolder"
        :desativado="desativado"
        icone="calendar"
      />
    </div>
    <div class="dropdown-content" id="myDropdown">
      <transition name="calendar-fade">
        <DatePicker
          @close="showRegularDate = false"
          v-if="showRegularDate"
          v-model="regularDate"
          :min="dataMinLimite"
          :max="dataMaxLimite"
        ></DatePicker>
      </transition>
    </div>
  </div>
</template>

<script>
import DatePicker from "../Calendario/Calendario";
import moment from "moment";

export default {
  name: "Campo-Calendario",

  components: {
    DatePicker
  },

  props: {
    dataMinLimite: {
      type: String,
      default: ""
    },
    dataMaxLimite: {
      type: String,
      default: ""
    },
    tituloCampo : {
      type: String,
      default: ""
    },
    placeHolder: {
      type: String,
      default: ""
    },
    desativado: {
      type:Boolean,
      default:false
    }
  },

  data() {
    return {
      valorDatepicker: "",
      valorCampoTexto: "",
      regularDate: "",
      showRegularDate: false
    };
  },

  methods: {
    async abrirCalendario() {
      await this.$nextTick()
      this.showRegularDate = true;
      document.getElementById("myDropdown").classList.toggle("show");
    },
    fecharCalendario(evt) {
      if (!(evt.target.className === 'calendar-day dayOutCurrentMonth')) {
        this.showRegularDate = false;
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }
    }
  },

  watch: {
    regularDate() {
      this.valorDatepicker = moment(this.regularDate).format("DD/MM/YYYY");
      this.$emit("input", this.valorDatepicker);
    },

  }
};
</script>


<style scoped>
@import "./CampoCalendario.scss"
</style>

